<% @events.each do |event|%>
    <h2 class="name"><%=event.name%></h2>
    <h3 class="date"><%=event.date%></h3>
    <span class="description"><%=event.description%></span>
    <%= link_to event_path(event.id) do %>
        <span class="event">details</span>
    <%end%>
    <hr>
<%end%>